.projcard{
    min-height:60vh;
    max-width: 70%;
    margin-bottom:17vh;
    font-family:"Open Sans";
    color:#FFFF;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    text-Decoration: none;
    border-radius:1vh;
    padding-bottom:3vh;   
    -webkit-transition:all 0.2s ease-in;
}

.textproj{
    background-color:#202326;
}

.projcard:hover{
    -webkit-transform:scale(1.02);
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}

a:hover{
    text-decoration:none;
}


.projcard img{
    border-radius:0;

}

.text{
    margin-bottom:5vh;
    margin-top:5vh;
}

@media only screen and (max-width:800px){
    .textproj{
        padding:10vh !important;
    }
    .projcard{
        max-width:90%;
    }
  }
 