.blogcard{
    max-width:70%;
    margin-left:1%;
    overflow:hidden;
    text-Decoration: none;
    -webkit-transition:all 0.2s ease-in;
    background-color:#2C2F33;
}

.blogcard:hover{
    -webkit-transform:scale(1.01);
    -webkit-transition:all 0.2s ease-out;
    -moz-transition:all 0.2s ease-out;
    transition:all 0.2s ease-out;
}

@media only screen and (max-width:800px){
    .blogcard{
        max-width:100%;
    }
  }